body {
    margin: 0%;
    background-color: beige;
    text-align: center;
}

h1 {
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: rgb(171, 104, 234);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}